$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-bkg: hsl(207, 26%, 17%);
$light-mode-txt: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-bkg: hsl(0, 0%, 98%);
$dark-txt-light-elems: hsl(0, 0%, 100%);

$internal-space: 20px 40px;

$light-box-shadow: 0 0 20px -10px;

$desktop: 1440px;